{% include "header.html" %} {% load static %}

<!--syte-main start-->
<div class="site-main">
    <!--contact-intro-section-start-->
    <section class="ttm-row contact-details-section clearfix">
        <div class="container">
            <!-- row -->
            <div class="row text-left">
                <div class="col-lg-9 col-md-9">
                    <div class=" section-title clearfix">
                        <h4>GET IN TOUCH</h4>
                        <h2 class="title">Contact Us</h2>
                        <div class="heading-seperator"><span></span></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’type specimen book.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-black mt-55 pull-right mb-25" href="" title="">View Events</a>
                </div>
            </div>
            <!--row-end-->
            <div class="row mt-25">
                <div class="col-md-4">
                    <div class="featured-box style2 left-icon icon-align-top">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                                <i class="ti ti-headphone-alt"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Phone</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Phone 01:+1800 565 5658,<br>Phone 01:+1800 565 5658,</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-box end-->
                </div>
                <div class="col-md-4">
                    <div class="featured-box style2 left-icon icon-align-top">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                                <i class="ti ti-location-pin"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Address</h5>
                            </div>
                            <div class="featured-desc">
                                <p>254 Monteral Ave musiam Staren<br>New Jersey USA 789 456</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-box end-->
                </div>
                <div class="col-md-4">
                    <div class="featured-box style2 left-icon icon-align-top">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                                <i class="ti ti-email"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>E-Mail</h5>
                            </div>
                            <div class="featured-desc">
                                <p>info@example.com,<br>UandMeCreations2@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-box end-->
                </div>
            </div>
        </div>
    </section>
    <!--contact-intro-section-end-->
    <section class="ttm-row contact-form-section2 bg-layer break-991-colum clearfix">
        <div class="container">
            <div class="row res-1199-mlr-15">
                <div class="col-md-4 col-lg-4">
                    <!-- col-bg-img-three -->
                    <div class="col-bg-img-three ttm-col-bgimage-yes ttm-bg">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content"></div>
                    </div>
                    <!-- col-bg-img-three end-->
                    <img src="{% static 'images/bg-image/col-bgimage-3.jpg' %}" class="ttm-equal-height-image" alt="bg-image">
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="padding-12 box-shadow">
                        <!-- section title -->
                        <div class="section-title clearfix mb-30">
                            <h3 class="title">Get The Party Started</h3>
                            <p>As the premier event planning company in the area. Each event and client is unique and we believe our services should be as well.</p>
                        </div>
                        <!-- section title end -->
                        <form id="contactform" class="row contactform wrap-form clearfix" method="POST" action="/booking" novalidate="novalidate">
                            {% csrf_token %}
                            <label class="col-md-6">
                                        <i class="ti ti-user"></i>
                                        <span class="ttm-form-control"><input class="text-input" name="name" type="text" value="" placeholder="Your Name:*" required="required"></span>
                                    </label>
                            <label class="col-md-6">
                                        <i class="ti ti-email"></i>
                                        <span class="ttm-form-control"><input class="text-input" name="email" type="text" value="" placeholder="Your email-id:*" required="required"></span>
                                    </label>
                            <label class="col-md-6">
                                        <i class="ti ti-location-pin"></i>
                                        <span class="ttm-form-control"><input class="text-input" name="venue" type="text" value="" placeholder="Venue" required="required"></span>
                                    </label>
                            <label class="col-md-6">
                                        <i class="ti ti-mobile"></i>
                                        <span class="ttm-form-control"><input class="text-input" name="mobile" type="text" value="" placeholder="Your Number:*" required="required"></span>
                                    </label>
                            <label class="col-md-12">
                                        <i class="ti ti-comment"></i>
                                        <span class="ttm-form-control"><textarea class="text-area" name="message" placeholder="Your Message:*" required="required"></textarea></span>
                                    </label>
                            <input name="submit" type="submit" value="Make a Reservation" class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-fill ttm-btn-color-skincolor mt-20" id="submit" title="Make a Reservation">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--map-start-->
    <div class="map-wrapper">
        <div id="map_canvas">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235526.90924758135!2d75.72376201272867!3d22.724228429638526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd0a3c2422a1%3A0xb8cf3a1b62708158!2sRajwada%20Palace!5e0!3m2!1sen!2sin!4v1590235098093!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!--map-end-->
</div>
<!-- site-main end -->
{% include "footer.html" %}